version: "3"
services:
  jira:
    depends_on:
      - postgresql
    image: atlassian/jira-software:${JIRA_VERSION}
    networks: [traefik,jira]
    volumes: [ "jiradata:/var/atlassian/application-data/jira/" ]
    links:
      - postgresql
    environment:
      - 'ATL_JDBC_URL=jdbc:postgresql://postgresql:5432/${POSTGRES_DB}'
      - 'ATL_JDBC_USER=${POSTGRES_USER}'
      - 'ATL_JDBC_PASSWORD=${POSTGRES_PASS}'
      - 'ATL_DB_DRIVER=org.postgresql.Driver'
      - 'ATL_DB_TYPE=postgres72'
      - 'JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY}'
      - 'JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY}'
      - 'ATL_PROXY_NAME=${SERVICE_DOMAIN}'
      - 'ATL_PROXY_PORT=443'
      - 'ATL_TOMCAT_SCHEME=https'
      - 'ATL_TOMCAT_SECURE=true'
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.docker.network=traefik_default"
      - "traefik.port=8080"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  postgresql:
    image: postgres:${POSTGRES_TAG}
    networks: [jira]
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes: [ "./data/postgres/:/var/lib/postgresql/data" ]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

volumes:
  jiradata:
    external: false

networks:
  jira:
  traefik:
    external:
      name: traefik_default
