version: "3"
name: jira
services:
  jira:
    image: atlassian/jira-software:${JIRA_VERSION:-10.6.1-ubi9-jdk17}
    container_name: jira
    depends_on:
      - postgresql
    volumes:
      - jira_data:/var/atlassian/application-data/jira/
    environment:
      - 'ATL_JDBC_URL=jdbc:postgresql://postgresql:5432/${POSTGRES_DB:-jira}'
      - 'ATL_JDBC_USER=${POSTGRES_USER:-jira}'
      - 'ATL_JDBC_PASSWORD=${POSTGRES_PASS:-Swordfish}'
      - 'ATL_DB_DRIVER=org.postgresql.Driver'
      - 'ATL_DB_TYPE=postgres72'
      - 'JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY:-1024m}'
      - 'JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY:-2048m}'
      - 'ATL_PROXY_NAME=${SERVICE_DOMAIN:-example.com}'
      - 'ATL_PROXY_PORT=443'
      - 'ATL_TOMCAT_SCHEME=https'
      - 'ATL_TOMCAT_SECURE=true'
    networks:
      - traefik
      - jira
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/status" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jira.rule=Host(`${SERVICE_DOMAIN:-example.com}`)"
      - "traefik.http.routers.jira.entrypoints=websecure"
      - "traefik.http.routers.jira.tls=true"
      - "traefik.http.routers.jira.tls.certresolver=letsencrypt"
      - "traefik.http.services.jira.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"

  postgresql:
    image: postgres:${POSTGRES_TAG:-17-alpine}
    container_name: jira-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-jira}
      POSTGRES_PASSWORD: ${POSTGRES_PASS:-Swordfish}
      POSTGRES_DB: ${POSTGRES_DB:-jira}
    networks:
      - jira
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-jira} -d ${POSTGRES_DB:-jira}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  jira:
  traefik:
    name: traefik_default
    external: true

volumes:
  jira_data:
    name: ${COMPOSE_PROJECT_NAME:-jira}_app_data
  postgres_data:
    name: ${COMPOSE_PROJECT_NAME:-jira}_postgres_data
