version: "3"
name: jira
services:
  jira:
    image: atlassian/jira-software:${JIRA_VERSION}
    container_name: jira
    depends_on:
      - postgresql
    volumes:
      - jiradata:/var/atlassian/application-data/jira/
    environment:
      - 'ATL_JDBC_URL=jdbc:postgresql://postgresql:5432/${POSTGRES_DB}'
      - 'ATL_JDBC_USER=${POSTGRES_USER}'
      - 'ATL_JDBC_PASSWORD=${POSTGRES_PASS}'
      - 'ATL_DB_DRIVER=org.postgresql.Driver'
      - 'ATL_DB_TYPE=postgres72'
      - 'JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY}'
      - 'JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY}'
      - 'ATL_PROXY_NAME=${SERVICE_DOMAIN}'
      - 'ATL_PROXY_PORT=443'
      - 'ATL_TOMCAT_SCHEME=https'
      - 'ATL_TOMCAT_SECURE=true'
    networks:
      - traefik
      - jira
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jira.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.jira.entrypoints=websecure"
      - "traefik.http.routers.jira.tls=true"
      - "traefik.http.routers.jira.tls.certresolver=letsencrypt"
      - "traefik.http.services.jira.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"

  postgresql:
    image: postgres:${POSTGRES_TAG}
    container_name: jira-postgres
    volumes:
      - ./data/postgres/:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - jira
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  jira:
  traefik:
    external:
      name: traefik_default

volumes:
  jiradata:
    external: false
