version: "3"
name: crowd
services:
  crowd:
    image: atlassian/crowd:${CROWD_VERSION}
    container_name: crowd
    depends_on:
      - postgresql
    volumes:
      - crowd_data:/var/atlassian/application-data/crowd/
    environment:
      - "ATL_PROXY_NAME=${SERVICE_DOMAIN}"
      - "ATL_PROXY_PORT=443"
      - "ATL_TOMCAT_SCHEME=https"
      - "ATL_TOMCAT_SECURE=true"
    networks:
      - crowd
      - traefik
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8095/crowd/status" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 120s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.crowd.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.crowd.entrypoints=websecure"
      - "traefik.http.routers.crowd.tls=true"
      - "traefik.http.routers.crowd.tls.certresolver=letsencrypt"
      - "traefik.http.services.crowd.loadbalancer.server.port=8095"
      - "traefik.docker.network=traefik_default"

  postgresql:
    image: postgres:${POSTGRES_TAG}
    container_name: crowd-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - crowd
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-crowd} -d ${POSTGRES_DB:-crowd}" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  crowd:
  traefik:
    external:
      name: traefik_default

volumes:
  crowd_data:
    name: ${COMPOSE_PROJECT_NAME:-crowd}_app_data
  postgres_data:
    name: ${COMPOSE_PROJECT_NAME:-crowd}_postgres_data
