version: "3"
services:
  crowd:
    image: atlassian/crowd:${CROWD_VERSION}
    container_name: crowd
    networks: [ crowd, traefik ]
    volumes: [ "crowd_data:/var/atlassian/application-data/crowd/" ]
    depends_on: [ postgresql ]
    environment:
      - "ATL_PROXY_NAME=${SERVICE_DOMAIN}"
      - "ATL_PROXY_PORT=443"
      - "ATL_TOMCAT_SCHEME=https"
      - "ATL_TOMCAT_SECURE=true"
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.docker.network=traefik_default"
      - "traefik.port=8095"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  postgresql:
    image: postgres:${POSTGRES_TAG}
    networks: [crowd]
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes: [ "crowd_postgres:/var/lib/postgresql/data" ]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

volumes:
  crowd_data:
    external: false
  crowd_postgres:
    external: false

networks:
  crowd:
  traefik:
    external:
      name: traefik_default
