version: "3"
services:
  weblate:
    image: weblate/weblate:${WEBLATE_VERSION}
    env_file: weblate.env
    links: [postgres,cache,redis]
    networks: [weblate,traefik]
    environment:
      WEBLATE_ALLOWED_HOSTS: ${SERVICE_DOMAIN}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_HOST: postgres
      REDIS_HOST: redis
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.docker.network=traefik_default"
      - "traefik.port=8080"
    volumes:
      - ./data/weblate:/app/data
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    
  postgres:
    image: postgres:${POSTGRES_TAG}
    networks: [weblate]
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes: ["./data/postgres/:/var/lib/postgresql/data"]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  cache:
    image: memcached:${MEMCACHED_TAG}
    networks: [weblate]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  redis:
    image: redis:${REDIS_TAG}
    networks: [weblate]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  weblate:
  traefik:
    external:
     name: traefik_default
