version: "3"
name: weblate
services:
  cache:
    image: memcached:${MEMCACHED_TAG}
    container_name: weblate-memcached
    networks:
      - weblate
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  postgres:
    image: postgres:${POSTGRES_TAG}
    container_name: weblate-postgres
    volumes:
      - ./data/postgres/:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    networks:
      - weblate
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  redis:
    image: redis:${REDIS_TAG}
    container_name: weblate-redis
    networks:
      - weblate
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  weblate:
    image: weblate/weblate:${WEBLATE_VERSION}
    container_name: weblate
    depends_on:
      - cache
      - postgres
      - redis
    volumes:
      - ./data/weblate:/app/data
    environment:
      WEBLATE_SITE_DOMAIN: ${SERVICE_DOMAIN}
      WEBLATE_ALLOWED_HOSTS: ${SERVICE_DOMAIN}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_HOST: postgres
      REDIS_HOST: redis
    env_file: weblate.env
    networks:
      - weblate
      - traefik
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.weblate.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.weblate.entrypoints=websecure"
      - "traefik.http.routers.weblate.tls=true"
      - "traefik.http.routers.weblate.tls.certresolver=letsencrypt"
      - "traefik.http.services.weblate.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"

networks:
  weblate:
  traefik:
    name: traefik_default
    external: true
