version: "3"
name: huginn
services:
  huginn:
    image: ghcr.io/huginn/huginn:${HUGINN_VERSION}
    container_name: huginn
    depends_on:
      - postgres
    environment:
      DATABASE_ADAPTER: postgresql
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USERNAME: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASS}
      DOMAIN: ${SERVICE_DOMAIN}
      INVITATION_CODE: ${INVITATION_CODE}
    networks:
      - traefik
      - huginn
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.huginn.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.huginn.entrypoints=websecure"
      - "traefik.http.routers.huginn.tls=true"
      - "traefik.http.routers.huginn.tls.certresolver=letsencrypt"
      - "traefik.http.services.huginn.loadbalancer.server.port=3000"
      - "traefik.docker.network=traefik_default"

  postgres:
    image: postgres:${POSTGRES_TAG}
    container_name: huginn-postgres
    volumes:
      - ./data/postgres/:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    networks:
      - huginn
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  huginn:
  traefik:
    external:
      name: traefik_default
