version: "3"
name: mysql
services:
  mysql:
    image: mysql:${MYSQL_VERSION}
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./conf/:/etc/mysql/conf.d
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports: [ "0.0.0.0:3306:3306" ]
    networks: [ mysql ]
    command: "--character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  mysql:

    #docker exec some-mysql sh -c 'exec mysqldump --all-databases -uroot -p"$MYSQL_ROOT_PASSWORD"' > /some/path/on/your/host/all-databases.sql
