name: mysql
services:
  mysql:
    image: mysql:${MYSQL_VERSION:-8.0}
    container_name: mysql
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_config:/etc/mysql/conf.d
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-Swordfish}
    ports:
      - "0.0.0.0:3306:3306"
    networks:
      - mysql
    command: "--character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD:-Swordfish}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  mysql:


volumes:
  mysql_data:
    name: ${COMPOSE_PROJECT_NAME:-mysql}_data
  mysql_config:
    name: ${COMPOSE_PROJECT_NAME:-mysql}_config
