name: confluence
services:
  confluence:
    image: atlassian/confluence:${CONFLUENCE_VERSION:-9.4.1-ubi9-jdk21}
    container_name: confluence
    depends_on:
      - postgresql
    volumes:
      - confluence_data:/var/atlassian/application-data/confluence/
    environment:
      - 'ATL_PROXY_NAME=${SERVICE_DOMAIN:-example.com}'
      - 'ATL_PROXY_PORT=443'
      - 'ATL_TOMCAT_SCHEME=https'
      - 'ATL_TOMCAT_SECURE=true'
      - 'JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY:-1024m}'
      - 'JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY:-2048m}'
      - 'ATL_JDBC_URL=jdbc:postgresql://postgresql:5432/${POSTGRES_DB:-confluence}'
      - 'ATL_JDBC_USER=${POSTGRES_USER:-confluence}'
      - 'ATL_JDBC_PASSWORD=${POSTGRES_PASS:-Swordfish}'
      - 'ATL_DB_TYPE=postgresql'
    ports:
      - "0.0.0.0:8091:8091"
    networks:
      - traefik
      - confluence
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8090/status" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.confluence.rule=Host(`${SERVICE_DOMAIN:-example.com}`)"
      - "traefik.http.routers.confluence.entrypoints=websecure"
      - "traefik.http.services.confluence.loadbalancer.server.port=8090"
      - "traefik.docker.network=traefik_default"

  postgresql:
    image: postgres:${POSTGRES_TAG:-17-alpine}
    container_name: confluence-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-confluence}
      POSTGRES_PASSWORD: ${POSTGRES_PASS:-Swordfish}
      POSTGRES_DB: ${POSTGRES_DB:-confluence}
    networks:
      - confluence
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-confluence} -d ${POSTGRES_DB:-confluence}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  confluence:
  traefik:
    name: traefik_default
    external: true

volumes:
  confluence_data:
    name: ${COMPOSE_PROJECT_NAME:-confluence}_app_data
  postgres_data:
    name: ${COMPOSE_PROJECT_NAME:-confluence}_postgres_data
