version: "3"
name: confluence
services:
  confluence:
    image: atlassian/confluence:${CONFLUENCE_VERSION}
    container_name: confluence
    depends_on:
      - postgresql
    volumes:
      - confluence_data:/var/atlassian/application-data/confluence/
    environment:
      - 'ATL_PROXY_NAME=${SERVICE_DOMAIN}'
      - 'ATL_PROXY_PORT=443'
      - 'ATL_TOMCAT_SCHEME=https'
      - 'ATL_TOMCAT_SECURE=true'
      - 'JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY}'
      - 'JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY}'
      - 'ATL_JDBC_URL=jdbc:postgresql://postgresql:5432/${POSTGRES_DB}'
      - 'ATL_JDBC_USER=${POSTGRES_USER}'
      - 'ATL_JDBC_PASSWORD=${POSTGRES_PASS}'
      - 'ATL_DB_TYPE=postgresql'
    ports:
      - "0.0.0.0:8091:8091"
    networks:
      - traefik
      - confluence
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8090/status" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 180s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.confluence.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.confluence.entrypoints=websecure"
      - "traefik.http.routers.confluence.tls=true"
      - "traefik.http.routers.confluence.tls.certresolver=letsencrypt"
      - "traefik.http.services.confluence.loadbalancer.server.port=8090"
      - "traefik.docker.network=traefik_default"

  postgresql:
    image: postgres:${POSTGRES_TAG}
    container_name: confluence-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - confluence
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  confluence:
  traefik:
    external:
      name: traefik_default

volumes:
  confluence_data:
    name: ${COMPOSE_PROJECT_NAME:-confluence}_app_data
  postgres_data:
    name: ${COMPOSE_PROJECT_NAME:-confluence}_postgres_data
