version: "3"
services:
  confluence:
    image: atlassian/confluence:${CONFLUENCE_VERSION}
    hostname: confluence
    environment:
      - 'ATL_PROXY_NAME=${SERVICE_DOMAIN}'
      - 'ATL_PROXY_PORT=443'
      - 'ATL_TOMCAT_SCHEME=https'
      - 'ATL_TOMCAT_SECURE=true'
      - 'JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY}'
      - 'JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY}'
      - 'ATL_JDBC_URL=jdbc:postgresql://postgresql:5432/${POSTGRES_DB}'
      - 'ATL_JDBC_USER=${POSTGRES_USER}'
      - 'ATL_JDBC_PASSWORD=${POSTGRES_PASS}'
      - 'ATL_DB_TYPE=postgresql'
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.docker.network=traefik_default"
      - "traefik.port=8090"
    ports: [ "8091:8091" ]
    links:
      - postgresql
    volumes: [ "confluencedata:/var/atlassian/application-data/confluence/" ]
    networks: [traefik,confluence]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  postgresql:
    image: postgres:${POSTGRES_TAG}
    networks: [confluence]
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes: [ "./data/postgres/:/var/lib/postgresql/data" ]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

volumes:
  confluencedata:
    external: false

networks:
  confluence:
  traefik:
    external:
      name: traefik_default
