version: "3"
name: rundeck
services:
  rundeck:
    image: jordan/rundeck:${RUNDECK_VERSION}
    container_name: rundeck
    volumes:
      - rundeck_config:/etc/rundeck
      - rundeck_var:/var/rundeck
      - rundeck_plugins:/opt/rundeck-plugins
      - rundeck_logs:/var/log/rundeck
      - rundeck_ssh:/var/lib/rundeck/.ssh
      - rundeck_mysql:/var/lib/mysql
      - rundeck_app_logs:/var/lib/rundeck/logs
      - rundeck_storage:/var/lib/rundeck/var/storage
    environment:
      EXTERNAL_SERVER_URL: "https://${SERVICE_DOMAIN:-example.com}"
      RUNDECK_ADMIN_PASSWORD: "${RUNDECK_ADMIN_PASSWORD:-Swordfish}"
    networks:
      - rundeck
      - traefik
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4440/" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 120s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rundeck.rule=Host(`${SERVICE_DOMAIN:-example.com}`)"
      - "traefik.http.routers.rundeck.entrypoints=websecure"
      - "traefik.http.routers.rundeck.tls=true"
      - "traefik.http.routers.rundeck.tls.certresolver=letsencrypt"
      - "traefik.http.services.rundeck.loadbalancer.server.port=4440"
      - "traefik.docker.network=traefik_default"

networks:
  rundeck:
  traefik:
    name: traefik_default
    external: true

volumes:
  rundeck_config:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_config
  rundeck_var:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_var
  rundeck_plugins:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_plugins
  rundeck_logs:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_logs
  rundeck_ssh:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_ssh
  rundeck_mysql:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_mysql
  rundeck_app_logs:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_app_logs
  rundeck_storage:
    name: ${COMPOSE_PROJECT_NAME:-rundeck}_storage
