version: "3"
name: sonarqube
services:
  database:
    image: postgres:${POSTGRES_TAG}
    container_name: sonarqube-db
    volumes:
      - ./data/postgres/:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
    networks:
      - sonarqube
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  sonarqube:
    image: sonarqube:${SONARQUBE_VERSION}
    container_name: sonarqube
    depends_on:
      - database
    volumes:
      - ./data/extensions/:/opt/sonarqube/extensions
      - ./data/plugins/:/opt/sonarqube/lib/bundled-plugins
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://database:5432/sonar
      - SONARQUBE_JDBC_USERNAME=sonar
      - SONARQUBE_JDBC_PASSWORD=sonar
    networks:
      - traefik
      - sonarqube
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarqube.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.sonarqube.entrypoints=websecure"
      - "traefik.http.routers.sonarqube.tls=true"
      - "traefik.http.routers.sonarqube.tls.certresolver=letsencrypt"
      - "traefik.http.services.sonarqube.loadbalancer.server.port=9000"
      - "traefik.docker.network=traefik_default"

networks:
  sonarqube:
  traefik:
    external:
      name: traefik_default
