version: "3"
name: gitlab
services:
  database:
    image: sameersbn/postgresql:${POSTGRES_TAG}
    container_name: gitlab-postgres
    volumes:
      - ./data/postgres:/var/lib/postgresql
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_EXTENSION: pg_trgm
    networks:
      - gitlab
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  gitlab:
    image: sameersbn/gitlab:${GITLAB_VERSION}
    container_name: gitlab
    depends_on:
      - database
      - redis
    volumes:
      - ./data/gitlab/:/home/git/data
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
    env_file: gitlab.env
    ports:
      - "0.0.0.0:${GIT_PORT}:22"
    networks:
      - traefik
      - gitlab
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.routers.gitlab.tls=true"
      - "traefik.http.routers.gitlab.tls.certresolver=letsencrypt"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_default"

  redis:
    image: redis:7-alpine
    container_name: gitlab-redis
    volumes:
      - ./data/redis:/data
    networks:
      - gitlab
    command: redis-server --protected-mode no
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  gitlab:
  traefik:
    external:
      name: traefik_default
