version: "3"
name: redash
services:
  nginx:
    image: redash/nginx:${REDASH_NGINX_VERSION}
    container_name: redash-nginx
    depends_on:
      - server
    networks:
      - redash
      - traefik
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.redash.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.redash.entrypoints=websecure"
      - "traefik.http.routers.redash.tls=true"
      - "traefik.http.routers.redash.tls.certresolver=letsencrypt"
      - "traefik.http.services.redash.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_default"

  postgres:
    image: postgres:${POSTGRES_TAG}
    container_name: redash-postgres
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    networks:
      - redash
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  redis:
    image: redis:${REDIS_TAG}
    container_name: redash-redis
    networks:
      - redash
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  server:
    image: redash/redash:${REDASH_VERSION}
    container_name: redash-server
    depends_on:
      - postgres
      - redis
    environment:
      PYTHONUNBUFFERED: 0
      REDASH_LOG_LEVEL: "INFO"
      REDASH_REDIS_URL: "redis://redis:6379/0"
      REDASH_DATABASE_URL: "postgresql://postgres@postgres/postgres"
      REDASH_COOKIE_SECRET: ${REDASH_COOKIE_SECRET}
      REDASH_WEB_WORKERS: 4
    ports:
      - "0.0.0.0:5000:5000"
    networks:
      redash:
        aliases:
          - redash
    command: server
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  worker:
    image: redash/redash:${REDASH_VERSION}
    container_name: redash-worker
    depends_on:
      - postgres
      - redis
    environment:
      PYTHONUNBUFFERED: 0
      REDASH_LOG_LEVEL: "INFO"
      REDASH_REDIS_URL: "redis://redis:6379/0"
      REDASH_DATABASE_URL: "postgresql://postgres@postgres/postgres"
      REDASH_COOKIE_SECRET: ${REDASH_COOKIE_SECRET}
      QUEUES: "queries,scheduled_queries,celery"
      WORKERS_COUNT: 2
    networks:
      - redash
    command: scheduler
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  redash:
  traefik:
    name: traefik_default
    external: true
