version: "3"
name: minio
services:
  minio:
    image: minio/minio:${MINIO_VERSION}
    container_name: minio
    volumes:
      - minio_data:/data
      - minio_config:/root/.minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    networks:
      - traefik
    command: server /data --console-address ":9001"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.minio.entrypoints=websecure"
      - "traefik.http.routers.minio.tls=true"
      - "traefik.http.routers.minio.tls.certresolver=letsencrypt"
      - "traefik.http.services.minio.loadbalancer.server.port=9000"
      - "traefik.docker.network=traefik_default"

networks:
  traefik:
    external:
      name: traefik_default

volumes:
  minio_data:
    name: ${COMPOSE_PROJECT_NAME:-minio}_data
  minio_config:
    name: ${COMPOSE_PROJECT_NAME:-minio}_config
