version: "3"
name: minio
services:
  minio:
    image: minio/minio:${MINIO_VERSION}
    container_name: minio
    volumes:
      - ./data/export:/export
      - ./data/config:/root/.minio
    networks:
      - traefik
    command: server /export
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.minio.entrypoints=websecure"
      - "traefik.http.routers.minio.tls=true"
      - "traefik.http.routers.minio.tls.certresolver=letsencrypt"
      - "traefik.http.services.minio.loadbalancer.server.port=9000"
      - "traefik.docker.network=traefik_default"

networks:
  traefik:
    external:
      name: traefik_default
