version: "3"
services:
  database:
    image: mariadb:${MARIADB_VERSION}
    environment:
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASS}
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASS}
      - MARIADB_DATABASE=zabbix
    volumes:
      - "./data/mysql:/var/lib/mysql"
      - "/etc/localtime:/etc/localtime:ro"
    networks: [zabbix]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  server:
    image: zabbix/zabbix-server-mysql:${ZABBIX_VERSION}
    ports: [ "10051:10051" ]
    networks: [traefik,zabbix]
    environment:
      - DB_SERVER_HOST=database
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
      - MYSQL_DATABASE=zabbix
    depends_on: [database]
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./data/zabbix/alertscripts:/usr/lib/zabbix/alertscripts"
      - "./data/zabbix/externalscripts:/usr/lib/zabbix/externalscripts"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  web:
    image: zabbix/zabbix-web-nginx-mysql:${ZABBIX_VERSION}
    networks: [traefik,zabbix]
    environment:
      - ZBX_SERVER_HOST=server
      - DB_SERVER_HOST=database
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
      - MYSQL_DATABASE=zabbix
      - PHP_TZ=Europe/Berlin
    depends_on: [server,database]
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.docker.network=traefik_default"
      - "traefik.port=8080"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  zabbix:
  traefik:
    external:
      name: traefik_default
