version: "3"
name: registry
services:
  registry:
    image: registry:${REGISTRY_VERSION}
    container_name: registry
    volumes:
      - registry_data:/var/lib/registry
      - registry_auth:/auth
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_STORAGE_DELETE_ENABLED: true
    networks:
      - traefik
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-q", "--spider", "http://localhost:5000/v2/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.registry.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.registry.entrypoints=websecure"
      - "traefik.http.routers.registry.tls=true"
      - "traefik.http.routers.registry.tls.certresolver=letsencrypt"
      - "traefik.http.services.registry.loadbalancer.server.port=5000"
      - "traefik.docker.network=traefik_default"

networks:
  traefik:
    external:
      name: traefik_default

volumes:
  registry_data:
    name: ${COMPOSE_PROJECT_NAME:-registry}_data
  registry_auth:
    name: ${COMPOSE_PROJECT_NAME:-registry}_auth
