version: "3"
services:
  postgres:
    image: postgres:${POSTGRES_VERSION}
    volumes: [ "postgres_data:/var/lib/postgresql/data" ]
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    networks: [ keycloak ]
    restart: unless-stopped
 
  keycloak:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION}
    restart: unless-stopped
    command: start
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASS}
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
      KC_PROXY: edge
      KC_HOSTNAME: ${SERVICE_DOMAIN}
      KC_HTTP_ENABLED: "true"
    networks: [ keycloak, traefik ]
    labels:
      - "traefik.enable=true"
      - "traefik.backend=keycloak"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.docker.network=traefik_default"
      - "traefik.port=8080"
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    depends_on: [ postgres ]

volumes:
  postgres_data:

networks:
  keycloak:
  traefik:
    external:
      name: traefik_default
