version: "3"
name: statping
services:
  postgres_statping:
    image: postgres:${POSTGRES_TAG}
    container_name: statping-postgres
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: Swordfish
      POSTGRES_USER: statping
      POSTGRES_DB: statping
    networks:
      - statping
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  statping:
    image: adamboutcher/statping-ng:${STATPING_VERSION}
    container_name: statping
    depends_on:
      - postgres_statping
    volumes:
      - ./data/app:/app
    environment:
      DB_CONN: postgres
      DB_HOST: postgres_statping
      DB_USER: statping
      DB_PASS: Swordfish
      DB_DATABASE: statping
    networks:
      - traefik
      - statping
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.statping.rule=Host(`${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.statping.entrypoints=websecure"
      - "traefik.http.routers.statping.tls=true"
      - "traefik.http.routers.statping.tls.certresolver=letsencrypt"
      - "traefik.http.services.statping.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"

networks:
  statping:
  traefik:
    external:
      name: traefik_default
