version: "3"
name: cabot
services:
  beat:
    image: cabotapp/cabot:${CABOT_VERSION}
    container_name: cabot-beat
    depends_on:
      - postgres
      - rabbitmq
      - web
    env_file:
      - .env
    networks:
      - cabot
    command: celery beat -A cabot
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  postgres:
    image: postgres:${POSTGRES_TAG}
    container_name: cabot-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    networks:
      - cabot
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  rabbitmq:
    image: rabbitmq:${RABBITMQ_TAG}
    container_name: cabot-rabbitmq
    networks:
      - cabot
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

  web:
    image: cabotapp/cabot:${CABOT_VERSION}
    container_name: cabot-web
    depends_on:
      - postgres
      - rabbitmq
    env_file:
      - .env
    ports:
      - "0.0.0.0:5000:5000"
    networks:
      - cabot
      - traefik
    command: sh -c "cabot migrate && gunicorn cabot.wsgi:application -b 0.0.0.0:5000 --workers=5"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cabot.rule=Host(`${SERVICE_DOMAIN:-example.com}`)"
      - "traefik.http.routers.cabot.entrypoints=websecure"
      - "traefik.http.routers.cabot.tls=true"
      - "traefik.http.routers.cabot.tls.certresolver=letsencrypt"
      - "traefik.http.services.cabot.loadbalancer.server.port=5000"
      - "traefik.docker.network=traefik_default"

  worker:
    image: cabotapp/cabot:${CABOT_VERSION}
    container_name: cabot-worker
    depends_on:
      - postgres
      - rabbitmq
      - web
    env_file:
      - .env
    networks:
      - cabot
    command: celery worker -A cabot
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  cabot:
  traefik:
    name: traefik_default
    external: true

volumes:
  postgres_data:
    name: ${COMPOSE_PROJECT_NAME:-cabot}_postgres_data
