version: "3"
name: tus
services:
  tus:
    image: tusproject/tusd:${TUS_VERSION}
    container_name: tus
    volumes:
      - tus_data:/srv/tusd-data
    networks:
      - traefik
    command: "-behind-proxy --hooks-dir /srv/tusd-hooks"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/metrics" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tus.rule=Host(`${SERVICE_DOMAIN:-example.com}`)"
      - "traefik.http.routers.tus.entrypoints=websecure"
      - "traefik.http.routers.tus.tls=true"
      - "traefik.http.routers.tus.tls.certresolver=letsencrypt"
      - "traefik.http.services.tus.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik_default"

networks:
  traefik:
    name: traefik_default
    external: true

volumes:
  tus_data:
    name: ${COMPOSE_PROJECT_NAME:-tus}_app_data
