version: "3"
services:
  directus:
    image: directus/directus:${DIRECTUS_VERSION}
    environment:
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      DB_CLIENT: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASS}
      PUBLIC_URL: https://${SERVICE_DOMAIN}
    links: [mysql]
    depends_on: [mysql]
    networks: [directus,traefik]
    volumes:
      - "./data/directus/uploads:/directus/uploads"
      - "./data/directus/extensions:/directus/extensions"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_default"
      - "traefik.frontend.rule=Host:${SERVICE_DOMAIN}"
      - "traefik.port=8055"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"
  
  mysql:
    image: mysql:${MYSQL_TAG}
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    volumes: ["./data/mysql/:/var/lib/mysql"]
    networks: [directus]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "50"

networks:
  directus:
  traefik:
    external:
      name: traefik_default
